@item-color:#fff;
@item-text-color:#323232;
@item-border-radius: 5px;
@icon-size: 32px;
@item-padding: 10px;
@font-family: 'Amatic SC', cursive;


.icon-size {
	width: @icon-size;
	height: @icon-size;
} 


#wrapper {
	border: 1px solid @item-text-color;
	max-width: 500px;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}


//to do list title 

.task-title-block {
	margin: 10px;
	text-align: center;
}

.task-title {
	font-family: @font-family;
	font-size: 32px;
	margin-bottom: 10px;
}

.task-title-logo {
	border: 3px solid @item-text-color;
	border-radius: 25px;
	padding: 5px;
}


//task items

.task-item-button {
	margin:0px;
	padding:0px;
	border:none;
	.icon-size;
	position: absolute;
	top: 50%;
	margin-top: -(@icon-size/2);
}

.task-item-checkbox {
	.icon-size;
	margin:0;
}

.task-item-checkbox:hover {
	cursor: pointer;
}

.task-item-checkbox-completed {
	text-decoration: line-through;
	color: #b92a1a;
}

.task-item {
	margin: 10px 0 10px 0;
	background-color: @item-color; 
}

.task-item-inner {
	padding: @item-padding;
	position: relative;
}

.task-item-complete {
	left: @item-padding;
}

.task-item-title-inner {
	padding-left: @icon-size + @item-padding;
	padding-right: @icon-size + @item-padding;
	font-family: @font-family;
	font-size: 24px;
}

.task-item-delete {
	right: @item-padding;
	background-color: @item-color;
}


.task-item-delete-inner:hover {
	color: #b92a1a;
	cursor: pointer;
}


//add item

.add-task-button {
	max-width: 500px;
	margin-bottom: 10px;
}

.add-task-button-inner {
	padding: @item-padding;
	position: relative; 
	text-align: center;
}

.add-task-button-input { 
	max-width: 438px;
	position: relative;
	right: 10px;
	left: 10px;
	color: @item-color;	
}

.add-task-button-input-inner {
	width: 90%;
}

.add-task-add-button {
	margin:0px;
	padding:0px;
	border:none;
	.icon-size;
	position: absolute;
	top: 50%;
	margin-top: -(@icon-size/2);
	right: @item-padding;
}


.add-task-add-button:hover {
	color: #31b3d1;
	cursor: pointer;
}


//completed task clear button

.clear-completed-tasks-button-holder {
	margin: 10px;
}



