<div class="add-task-button-inner">

	<form class="add-task-button-input">
		<input type="text" name="task" class="add-task-button-input-inner"/>
	</form>
	
	<button class="add-task-add-button icon-pencil icon">
		<span class="add-task-add-button-inner"></span>
	</button> 

</div>