<div class="task-item-inner">
		
	<form class="task-item-complete task-item-button">
		<input type="checkbox" name="task" value="complete" class="task-item-complete-inner task-item-checkbox">
	</form>
 			{{#if _isComplete}}{{else}}{{/if}}

	<div class="task-item-title">
		<div class="task-item-title-inner">
			Title: {{{title}}}
		</div>
	</div>
	
	<button class="task-item-delete task-item-button">
		<span class="task-item-delete-inner"></span>
	</button> 

</div>